<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Planet</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/main.css" />
</head>

<body>
    <header class="header">
        <h2 class="exo">Exobiology</h2>
        <nav>
            <div class="nav"><a href="/">Home</a></div>
        </nav>
    </header>
    <div class="form">
        <h1 class='new'>Create New Scientist</h1>
        <form action="/planet" method="POST">
            <div class="form-group">
                <label for="name">Name</label>
                <input type="text" name="name" class="form-control" placeholder="Name" required="true" />
            </div>
            <div class="form-group">
                <label for="description">Description</label>
                <input type="text" name="description" class="form-control" placeholder="description" required="true" />
            </div>

            <input type="submit" class="btn btn-primary" value="Create">
        </form>
    </div>
</body>

</html>