<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8" />
    <title>Scientists Show</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/main.css" />
</head>

<body>
    <header class="header">
        <h2 class="exo">Exobiology</h2>
        <nav>
            <div class="nav"><a href="/planet/new">Create</a></div>
            <div class="nav"><a href="/">Home</a></div>
            <div class="nav"><a href="/planet">Back</a></div>
            <div class="nav"><a href="/planet/<%=index%>/edit">Edit</a></div>
        </nav>
    </header>
    <div class="form">
        <h1> Show Page</h1>
        <table class="table"> 
            <tbody>
              <tr>
                <td><h3><%= person.name; %></h3></td>
              </tr>
              <tr>
                <td><h4><%= person.description; %></h4></td>
              </tr>
            </tbody>
          </table>
    </div>




</body>

</html>